h1{
    color:blueviolet;
    font-size:large;
    font-family:'Times New Roman', Times, serif

}
body h1{
    color: brown !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}